<!DOCTYPE html>
<html>
  <head>
    <title>InfoMill</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "animateNumber" %>
       <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Droid+Sans">
          
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
